{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": false,
  "arrowParens": "always",
  "printWidth": 100,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "plugins": ["prettier-plugin-organize-imports"]
}
